<h1>NEW RESERVATION PAGE</h1>
<h1><%= @restaurant.name %></h1>

<p>
  <%= @restaurant.summary %>
</p>

<p>The following time slots are available:</p>

<% @restaurant.time_slots.each do |slot| %>

  <a href="#"><%= slot %></a>

<% end %>
