<%= image_tag 'https://unsplash.it/1600/400', class: 'restaurant_image' %>
<div class="restaurant_information">

  <h2 class="centered">Suggested Restaurants</h2>
  <% @restaurants.each do |restaurant|%>
    <p>
      <%= link_to("#{restaurant.name}", restaurant_path(restaurant.id)) %>
    </p>
    <p>
      <%= restaurant.summary %>
    </p>
  <% end %>
</div>
